body {
	font-family: Arial, Helvetica, san-serif;
}

h1 {
	background-color: #d0d0d0;
	border-radius: 5px;
}

h2 {
	background-color: #e0e0e0;
	font-style: italic;
	border-radius: 5px;
}

h3 {
	background-color: #f0f0f0;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: lightgray;
}

.emphasis {
	font-weight: bold;
}

.quote {
	font-family: Courier, fixed;
	font-style: italic;
}

.button {
	background-color: #f0f0f0;
	font-family: Courier, fixed;
	border: thin solid lightgray;
	border-radius: 5px;
}

.key {
	background-color: #f0f0f0;
	font-family: fixed, monospace, Courier, Courier New;
	border: thin solid lightgray;
	border-radius: 5px;
}
