# Eclipse only files and directories
.classpath
.project
.settings
build.xml
target

# IntelliJ IDEA only files
*.iml
.idea

*.class
*.jar
*.log

deploy/
dependency-reduced-pom.xml
jar-in-jar-loader.zip
doc/
